.site-header .site-title {
  text-align: left;
}

.site-header .site-logo {
  float: left;
  margin-right: 10px; /* Adjust this value to control space between logo and text */
}
h1 {
    color: #3498db; 
}

